/* Public */
img.company-logo {
    width: 200px;
    height: 200px;
}


@media (max-width:1200px) {
    img.company-logo {
        width: 200px !important;
        height: 200px !important;
    }
}

@media (max-width:992px) {
    img.company-logo {
        width: 150px !important;
        height: 150px !important;
    }
}

@media (max-width:768px) {
    img.company-logo {
        width: 150px !important;
        height: 150px !important;
    }
}
@media (max-width:576px) {
    img.company-logo {
        width: 100px !important;
        height: 100px !important;
    }
}
/* Topbar */
.navbar .company-logo img {
    width: 50px;
}

.navbar-nav .nav-item.active {
    font-weight: bold;
    border-bottom: .25rem solid #464091 !important;
}

/* Sidebar */
#accordionSidebar {
    background: #484093 !important;
}

#accordionSidebar li.nav-item.active {
    background-color: #2d2762;
}

#accordionSidebar .company-logo img {
    width: 100px;
}

#accordionSidebar.toggled .company-logo img {
    width: 80px;
}

#sidebarToggleDiv {
    border-top: 1px solid #ffffff1f;
    padding: 20px 0px !important;
    margin: 20px 10px !important;
}

/* Modal */
.modal {
    z-index: 4 !important;
}

.modal-backdrop {
    z-index: 3 !important;
}

/* Page */
.page-header {
    color: #2d2762;
}

.card-title {
    color: black;
}

.toggle-password-button {
    cursor: pointer;
}